/* Site Header */

@import "mixins";

.site-header {
  background-color: #fff;
  color: #333;
  min-height: 110px;
}

.site-header .widget {
  margin-bottom: 0;
}

.site-header .wrap {
  @include rem(padding, 20px 0 30px);
}

// Title Area

.title-area {
  float: left;
  @include rem(padding, 14px 0);
  width: 340px;
}

.header-full-width .title-area {
  width: 100%;
}

.site-title {
  @include rem(font-size, 43px);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.site-title a,
.site-title a:hover {
  color: #fff;
}

.header-image .title-area {
  padding: 0;
}

.header-image .site-title > a {
  float: left;
  min-height: 100px;
  width: 100%;
}

.site-description {
  color: #999;
  @include rem(font-size, 16px);
  font-weight: 400;
  height: 0;
  line-height: 1.5;
  text-indent: -9999px;
}

.site-description,
.site-title {
  margin-bottom: 0;
}

.header-image .site-description,
.header-image .site-title {
  display: block;
  text-indent: -9999px;
}

// Widget Area

.site-header .widget-area {
  float: right;
  @include rem(padding-top, 14px);
  text-align: right;
  width: 740px;
}

.site-header .genesis-nav-menu li li {
  margin-left: 0;
}

