/* Media Queries */

@media only screen and (min-width: 860px) {
  .wrap {
    padding: 0;
  }
}

@media only screen and (min-width: 1023px) {
  .wrap {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1180px) {
  .wrap {
    max-width: 1140px;
  }

  .cc14-home .site-inner .wrap {
    max-width: 1140px;
  }
}


/* Old Media Queries (to migrate above) */

@media only screen and (max-width: 1180px) {

  .content-sidebar-sidebar .content-sidebar-wrap,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-sidebar-content .content-sidebar-wrap {
    width: 750px;
  }

  .sub-footer-left {
    width: 710px;
  }

  .content {
    width: 630px;
  }

  .site-header .widget-area {
    width: 600px;
  }

  .sidebar-content-sidebar .content,
  .sidebar-sidebar-content .content,
  .content-sidebar-sidebar .content {
    width: 420px;
  }

  .sidebar-primary {
    width: 300px;
  }

  .footer-widgets-1,
  .footer-widgets-2,
  .footer-widgets-3,
  .footer-widgets-4,
  .sub-footer-right {
    width: 210px;
  }

}

@media only screen and (max-width: 1023px) {

  .content,
  .content-sidebar-sidebar .content,
  .content-sidebar-sidebar .content-sidebar-wrap,
  .footer-widgets-1,
  .footer-widgets-2,
  .footer-widgets-3,
  .footer-widgets-4,
  .sidebar-content-sidebar .content,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-primary,
  .sidebar-secondary,
  .sidebar-sidebar-content .content,
  .sidebar-sidebar-content .content-sidebar-wrap,
  .site-header .widget-area,
  .title-area {
    width: 100%;
  }

  .site-header .wrap {
    padding: 20px 5% 16px;
    padding: 2rem 5% 1.6rem;
  }

  .header-image .site-title a {
    background-position: top !important;
  }

  .genesis-nav-menu li,
  .site-header .search-form,
  .site-header ul.genesis-nav-menu {
    float: none;
  }

  .genesis-nav-menu,
  .nav-primary,
  .site-description,
  .site-header .search-form,
  .site-header .title-area,
  .site-header .widget-area,
  .site-title {
    text-align: center;
  }

  .site-header .simple-social-icons .alignleft,
  .site-header .simple-social-icons .alignright,
  .site-header .simple-social-icons ul li {
    display: inline-block;
    float: none;
    text-align: center;
  }

  .genesis-nav-menu a,
  .genesis-nav-menu > .first > a,
  .genesis-nav-menu > .last > a {
    @include rem(padding, 18px 12px);
  }

  .site-header .search-form {
    @include rem(margin, 16px auto);
  }

  .sub-footer-left {
    width: 520px;
  }

  .footer-widgets-1,
  .footer-widgets-2 {
    margin-right: 0;
  }

}

@media only screen and (max-width: 860px) {

  .archive-description,
  .author-box,
  .comment-respond,
  .entry,
  .entry-comments,
  .entry-pings,
  .sidebar .widget {
    box-shadow: none;
  }

  .archive-pagination li a {
    @include rem(margin-bottom, 4px);
  }

  .five-sixths,
  .four-sixths,
  .one-fourth,
  .one-half,
  .one-sixth,
  .one-third,
  .sub-footer-left,
  .sub-footer-right,
  .three-fourths,
  .three-sixths,
  .two-fourths,
  .two-sixths,
  .two-thirds {
    margin: 0;
    width: 100%;
  }

  .home-bottom .widget {
    text-align: center;
    width: 48%;
  }

  .home-bottom .widget:nth-of-type(2n) {
    clear: none;
    margin-left: 2.564102564102564%;
  }

  .home-bottom .widget:nth-of-type(2n+1) {
    clear: both;
    margin-left: 0;
  }

}

@media only screen and (max-width: 600px) {

  .genesis-nav-menu a,
  .genesis-nav-menu > .first > a,
  .genesis-nav-menu > .last > a {
    @include rem(padding, 4px 12px);
  }

  .genesis-nav-menu li.right {
    display: block;
    float: none;
  }

  .nav-primary {
    @include rem(padding, 14px 0);
  }

  .entry-categories,
  .entry-comments-link,
  .entry-tags {
    display: block;
    float: none;
  }

}

@media only screen and (max-width: 480px) {

  .site-inner {
    padding-top: 5%;
  }

  .content {
    padding: 5%;
  }

  .home-bottom .widget:nth-of-type(2n),
  .home-bottom .widget {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .header-image .site-title a {
    background-size: contain !important;
  }

}

