/* Plugins */

@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "mixins";

// Genesis eNews Extended
/* uncomment if we ever use this plugin
.sidebar .enews-widget .widget-title {
  color: #fff;
}

.enews-widget input {
  @include rem(margin-bottom, 16px);
}

.enews-widget input[type="submit"] {
  border: none;
  color: #fff;
  margin: 0;
  width: 100%;
}

.enews-widget input:hover[type="submit"] {
  background-color: #eee;
  color: #333;
}

.enews form + p {
  @include rem(margin-top, 24px);
}
*/

// Genesis Responsive Slider
/* uncomment if we ever use this plugin
.content #genesis-responsive-slider {
  @include box-shadow(0 60px 100px rgba(0, 0, 0, 0.5));
  border: none;
  padding: 0;
}

.content #genesis-responsive-slider a:hover,
.content #genesis-responsive-slider h2 a,
.content #genesis-responsive-slider h2,
.content #genesis-responsive-slider p {
  color: #fff;
}

.content #genesis-responsive-slider a,
.content #genesis-responsive-slider h2 a:hover {
  color: #37689b;
}

#genesis-responsive-slider li {
  border: none;
  margin: 0;
  padding: 0;
}

.content .slide-excerpt {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  filter: alpha(opacity=10);
  margin: 0;
  opacity: 1;
}

html > body .content .slide-excerpt-border {
  border: none;
  margin: 0;
  @include rem(padding, 30px);
}

.content #genesis-responsive-slider p {
  color: #fff;
}

.widget.genesis_responsive_slider,
.content #genesis-responsive-slider .flex-control-nav {
  margin-bottom: 0;
}

.content #genesis-responsive-slider .flex-control-nav {
  @include rem(margin-top, -40px);
}

.content .genesis_responsive_slider .flex-direction-nav li a {
  background: url(images/icon-direction-nav.png) no-repeat -50px 0;
  background-size: 100px 98px;
  height: 49px;
  right: -25px;
  @include transition(none);
  width: 50px;
}

.content .genesis_responsive_slider .flex-direction-nav li a:hover {
  background-position: -50px -49px;
}

.content .genesis_responsive_slider .flex-direction-nav li a.prev {
  background-position: 0 0;
  bottom: 10px;
  left: auto;
  right: 62px !important;
  top: auto;
}

.content #genesis-responsive-slider .flex-direction-nav li a.next {
  bottom: 10px;
  left: auto;
  right: 10px !important;
  top: auto;
}

.content .genesis_responsive_slider .flex-direction-nav li a:hover.prev {
  background-position: 0 -49px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-moz-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min-device-pixel-ratio: 1.5) {

  .content #genesis-responsive-slider .flex-direction-nav li a {
    background-image: url(images/icon-direction-nav@2x.png);
  }

}

@media only screen and (max-width: 860px) {
  .content #genesis-responsive-slider .flex-direction-nav li .next,
  .content #genesis-responsive-slider .flex-direction-nav li .prev,
  .content .slide-excerpt {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .content #genesis-responsive-slider .flex-control-nav {
    display: none;
  }
}
*/


// Gravity Forms
/* uncomment if we ever use this plugin
div.gform_wrapper input[type="email"],
div.gform_wrapper input[type="text"],
div.gform_wrapper textarea,
div.gform_wrapper .ginput_complex label {
  @include rem(font-size, 16px);
  @include rem(padding, 16px);
}

div.gform_wrapper .ginput_complex label {
  padding: 0;
}

div.gform_wrapper li,
div.gform_wrapper form li {
  @include rem(margin, 16px 0 0);
}
*/

// Jetpack

#wpstats {
  display: none;
}
