/* Sidebars */

@import "mixins";

.sidebar {
  color: #333;
  @include rem(font-size, 14px);
}

.sidebar .widget {
  background-color: #fff;
  border: 1px solid #ddd;
  @include rem(padding, 30px);
}
