/*
Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
  color: #333;
  font-size: 14px;
  font-size: 1.4rem;
}

.sidebar .widget {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 30px;
  padding: 3rem;
}


