/* Widgets */

@import "mixins";

.widget {
  word-wrap: break-word;
  @include rem(margin-bottom, 30px);
}

.widget li {
  border-bottom: 1px dotted #494949;
  @include rem(margin-bottom, 10px);
  @include rem(padding-bottom, 10px);
  text-align: left;
}

.widget ol > li {
  list-style-position: inside;
  list-style-type: decimal;
  padding-left: 2rem;
  text-indent: -2rem;
}

.widget li li {
  border: none;
  @include rem(margin, 0 0 0 30px);
  padding: 0;
}

.widget p:last-child,
.widget ol > li:last-child,
.widget ul > li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.widget_calendar table {
  border-color: #494949;
  width: 100%;
}

.widget_calendar td,
.widget_calendar th {
  text-align: center;
}

// Featured Content

.featured-content .entry {
  @include rem(margin-bottom, 20px);
}

.featured-content .entry-title {
  @include rem(font-size, 20px);
}

.featured-content .entry-comments-link {
  float: none;
}

.more-from-category {
  border-top: 1px dotted #494949;
  @include rem(margin-top, 10px);
  @include rem(padding-top, 10px);
}

.jetpack_widget_social_icons {
  .screen-reader-text {
    display: none;
  }
  a {
    color: #fff;
  }
}
