/* Table of Contents

  - Imports
  - HTML5 Reset
    - Baseline Normalize
    - Box Sizing
    - Float Clearing
  - Defaults
    - Typographical Elements
    - Headings
    - Objects
    - Forms
    - Tables
  - Structure and Layout
    - Site Containers
    - Column Widths and Positions
    - Column Classes
  - Common Classes
    - Avatar
    - Genesis
    - Search Form
    - Titles
    - WordPress
  - Widgets
    - Featured Content
  - Plugins
    - Genesis eNews Extended
    - Genesis Responsive Slider
    - Gravity Forms
    - Jetpack
  - Site Header
    - Title Area
    - Widget Area
  - Site Navigation
    - Header Navigation
    - Primary Navigation
    - Secondary Navigation
  - Content Area
    - Home Page
    - Entries
    - Entry Meta
    - After Entry
    - Pagination
    - Comments
  - Sidebars
  - Sub Foooter
  - Footer Widgets
  - Site Footer
  - Media Queries
  - Retina Display
    - Retina
    - Max-width: 1139px
    - Max-width: 1023px
    - Max-width: 767px
*/

@import "mixins";

@import '//fonts.googleapis.com/css?family=Open+Sans:400,700';

@import "reset";
@import "defaults";
@import "structure";
@import "common";
@import "widgets";
@import "plugins";
@import "header";
@import "navigation";
@import "content";
@import "sidebars";
@import "footer";
@import "media-queries";


// Custom

.google-map {
  border: 1px solid #ddd;
  float: right;
  max-width: 50%;
  padding: 2px;
}

@media only screen and (max-width: 600px) {
  .google-map {
    float: none;
    margin: 1em 0;
    max-width: 100%;
  }
}

.widget_recent_entries .post-date,
.widget_related_sermons .post-date,
.widget_recent_sermons .post-date {
  display: block;
  font-size: 80%;
  color: #999;
}

.widget_related_sermons .wp-post-image {
  margin-bottom: 1em;
}

.widget_mcheyne_reading_plan .download-link {
  text-align: right;
  font-size: 80%;
}

.sermon_video, .sermon_slides {
  > .wrap {
    position: relative;
    padding-bottom: 56.25%; // 9 / 16
    padding-top: 30px;
    height:0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
  }
}


#latest-sermons img.entry-image {
  margin-bottom: 10px;
  margin-bottom: 1rem;
}

.post-type-archive-mbsb_sermon,
.post-type-archive-ctc_sermon {
  article .entry-title {
    @include rem(font-size, 16px);
  }
}

.post-type-archive-mbsb_sermon .entry-header img {
  width: 100%;
}
.post-type-archive-mbsb_sermon .mbsb_series img {
  margin-bottom: 0.5em;
}

@media only screen and (min-width: 480px) {
  .post-type-archive-mbsb_sermon article {
    display: inline-block;
    vertical-align: top;
    width: 45%;
  }
  .post-type-archive-mbsb_sermon article:nth-of-type(2n) {
    margin-left: 10%;
  }
}

@media only screen and (min-width: 800px) {
  .post-type-archive-mbsb_sermon article.mbsb_series {
    width: 30%;
    margin-left: 5%;
  }
  .post-type-archive-mbsb_sermon .mbsb_series:nth-of-type(3n+1) {
    margin-left: 0;
  }
}

@media only screen and (min-width: 960px) {
  .post-type-archive-mbsb_sermon article.mbsb_sermon {
    width: 22%;
    margin-left: 4%;
  }
  .post-type-archive-mbsb_sermon .mbsb_sermon:nth-of-type(4n+1) {
    margin-left: 0;
  }
}

.post-type-archive-ctc_sermon {
  #latest-sermons > .sermons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 16px;

    .pagination {
      grid-column-start: 1;
      grid-column-end: -1;
      text-align: center;
      margin: 0 0 2em 0;
    }
  }
  #series > .sermons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 16px;
  }
}

// display archive description for series without normal box styling
.tax-ctc_sermon_series {
  .archive-title {
    @include rem(font-size, 30px);
    font-weight: 700;
  }
  .archive-description {
    background: none;
    padding: 0;
  }
}

#wpadminbar {
  background: rgba(0, 0, 0, 0.75);
}


.leadership-headshots {
  margin-top: 1em;
}

.leadership-headshots .headshot {
  text-align: center;
}
.leadership-headshots .headshot h2 {
  @include rem(font-size, 18px);
  margin: 0;
}

@media only screen and (min-width: 480px) {
  .leadership-headshots {
    clear: both;
  }
  .leadership-headshots .headshot {
    width: 45%;
    margin-left: 10%;
    float: left;
    vertical-align: top;
  }
  .leadership-headshots .headshot:nth-of-type(2n+1) {
    margin-left: 0;
  }
}

@media only screen and (min-width: 748px) {
  .leadership-headshots .headshot {
    width: 30%;
    margin-left: 5%;
  }
  .leadership-headshots .headshot:nth-of-type(2n+1) {
    margin-left: 5%;
  }
  .leadership-headshots .headshot:nth-of-type(3n+1) {
    margin-left: 0;
  }
}
